$theme-colors: (
	'primary': #654aa1,
	'warning': rgb(17, 30, 51),
);

$enable-responsive-font-sizes: true;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$custom-color: rgb(17, 30, 51);
$active: rgb(143, 143, 143);
$border-color: rgb(214, 214, 214);

body {
	font-family: 'Raleway', sans-serif;
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
	width: 100%;
	// background-color: rgb(240, 240, 240);
}

.makeLink {
	cursor: pointer;
}

.roleSelect {
	margin-top: 2rem;
	/* margin-bottom: 3rem; */
}

.outer-container {
	min-height: 100vh;
	background: #e0eafc; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#cfdef3,
		#e0eafc
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#cfdef3,
		#e0eafc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bg {
	/* border: 4px solid rgb(230, 225, 225);
    border-radius: 1rem; */
	overflow: hidden;
}

.rightSide {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1rem;
	margin-top: -2rem;
	max-height: 90vh;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	/* overflow: hidden; */

	animation: down 2s 1 ease-in-out;
}

.formTabs {
	margin-top: 4rem;
}

.nav-pills {
	background-color: #dadff0;
}

.nav-item {
	width: 100%;
	border-radius: 10px;
}

.nav-item a {
	color: #654aa1;
}

.nav-link {
	padding: 1rem 1rem;
	text-align: center;
	max-height: 6rem;
}

.nav-pills .nav-link.active {
	/* background-color: #2a50ce; */
	background-color: #654aa1e6;
}

.radioButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #dadff0;
	padding: 1.5rem 0;
	border-radius: 1rem;
	cursor: pointer;
	max-width: 50%;

	p {
		margin-bottom: 0;
		letter-spacing: 0.02rem;
		text-align: center;
	}
}

.radioButton-active {
	background-color: #fcfbff;
	border: 1px solid #654aa1;
	color: #654aa1;
}

.tabContent {
	margin-top: 2rem;
	padding: 1rem;
	height: 100%;
	/* overflow-y: scroll; */
}

.login-tab {
	margin-top: 4rem;
	padding: 0 4rem;

	.heading {
		margin-bottom: 2rem;
		margin-top: 2rem;
		padding-bottom: 1rem;
		padding-top: 1rem;

		h3 {
			// font-family: 'Roboto', sans-serif;
			font-weight: 600;
			font-size: 2.5rem;
			color: rgb(17, 30, 51);
			letter-spacing: 0.2rem;
			text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
				0 -5px 35px rgba(255, 255, 255, 0.3);
		}
	}
}

.left-box {
	h6 {
		font-weight: 600;
		color: rgb(17, 30, 51);
		letter-spacing: 0.08rem;
		font-size: 1rem;
	}
}

@keyframes down {
	from {
		// margin-top: -9999px;
		opacity: 0;
	}
	to {
		// margin-top: 0;
		opacity: 1;
	}
}

.layout-outer-div {
	position: relative;
	min-height: 100vh;
	background-color: $custom-color;

	.layout-sidebar {
		position: absolute;
		width: 10%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			// background-color: white;
			text-decoration: none;
			width: 100%;
			border-radius: 0 1rem 1rem 0;
		}

		.active-link {
			background-color: white;
			border-radius: 0;

			.route {
				color: $custom-color;
			}
		}

		.profile {
			margin: 2rem 0;
			display: flex;
			flex-direction: column;
			align-items: center;

			.profile-image {
				display: flex;
				justify-content: center;
			}

			img {
				max-width: 70%;
			}

			p {
				color: white;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
		}

		.route {
			color: $active;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem 0.5rem;

			p {
				padding-top: 0.5rem;
				margin-bottom: 0;
			}
		}
	}

	.layout-inner-div {
		position: absolute;
		width: 90%;
		max-height: 100%;
		right: 0;
		top: 0;
		// background-color: rgb(251, 249, 249);
		z-index: 1000;
		// border-radius: 1rem;
		overflow-x: hidden;
		// overflow-y: scroll;

		.content {
			// position: fixed;
			// height: 100%;
			background-color: rgb(251, 249, 249);
			border-radius: 1rem 0 0 1rem;
			overflow-y: scroll;

			.sidebar {
				position: fixed;
				left: 0;
				z-index: 100;
				height: 100%;
				background-color: $custom-color;
				transition: transform 0.3s ease-out;
				display: none;

				.dropdown {
					transition: all 1s ease-out;

					.sidebar-dropdown-item {
						padding-left: 3rem !important;
						border: none;
					}
				}
			}

			.sidebarOpen {
				transform: translateX(0);
			}

			.sidebarClose {
				transform: translateX(-100%);
			}

			.nav-bar {
				margin-top: 1rem;
				padding: 0 1rem 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;

				p {
					margin-bottom: 0;
					padding: 0 1rem;
					color: $custom-color;
					letter-spacing: 0.08rem;
					font-weight: 500;
				}

				.nav-search,
				.nav-search:focus,
				.nav-search:active {
					border: none;
					box-shadow: none;
				}

				.nav-form {
					border: 0.5px solid rgb(214, 211, 211);
					border-radius: 0.5rem;
					width: 50%;
					display: flex;
					justify-content: space-between;
					margin-left: 3rem;
					/* align-items: center; */
					input {
						flex-grow: 1;
					}
				}

				.nav-menu-icon {
					padding-left: 1rem;
					width: 3rem;
					cursor: pointer;
					display: none;
				}
			}
		}
	}
}

.right-sidebar {
	position: fixed;
	height: 100%;
	border-radius: 0 1rem 1rem 0;
	background-color: rgb(243, 243, 243);
	right: -0.9rem;
	top: 0;
}

.client-filter {
	.form-row > div {
		padding: 0.5rem 0;
	}

	p {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
		margin: 3rem 0 2rem;
		padding: 0 1rem;
	}

	label {
		font-size: 0.7rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
	}

	input {
		border-radius: 1rem;
	}
}

.client-card {
	> div {
		padding-top: 0;
	}

	background: #fff;
	border-radius: 2px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transition: transform 0.2s ease-out;
	overflow: hidden;

	&:hover {
		transform: scale(1.05);
	}

	.client-card-top {
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem 0;
		svg {
			cursor: pointer;
		}
	}
}

.client-tabs {
	margin-bottom: 1rem;

	border-bottom: 2px solid $border-color;

	.nav-item {
		width: auto;

		a {
			padding-bottom: 0.4rem;
			font-size: 0.8rem;
			letter-spacing: 0.1rem;
			font-weight: bold;
			display: flex;
			align-items: center;
		}

		.a:focus,
		.a:active {
			outline: none !important;
			box-shadow: none;
		}
	}

	.nav-link.active {
		border-bottom: 2px solid rgb(17, 30, 51);
		color: rgb(17, 30, 51);
		margin-bottom: -2px;
	}
}

.userTable {
	margin-top: 2rem;

	table tr:first-child td {
		border-top: 0;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.08rem;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		font-weight: 590;
	}

	table tr:first-child:hover {
		transform: scale(1) !important;
	}

	.dataTable {
		tr:not(:first-child) {
			transition: transform 0.1s ease-out;
			color: rgb(60, 75, 82);
			font-size: 0.9rem;
			letter-spacing: 0.05rem;
			font-weight: 500;
		}

		tr:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			transform: scale(1.02);
			font-size: 1rem;
			color: warning;
			font-weight: 590;
		}

		.badge-pill {
			background-color: #664aa12a;
			color: #654aa1;
			border-color: #654aa1;
			padding: 1rem;
		}
	}
}

.list-group {
	height: 100%;

	a {
		text-decoration: none;
		color: $border-color;
	}

	.list-group-item {
		min-width: 15rem;
		cursor: pointer;
		font-size: 0.9rem;
		font-weight: 500;
		letter-spacing: 0.12rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem;
		// padding-right: 2rem;
		background-color: $custom-color;

		// &:hover {
		// 	background-color: rgb(253, 236, 209);
		// }

		svg {
			margin-right: 0.5rem;
		}
	}
}

.linkActive {
	background-color: rgb(253, 236, 209);
}

.backdrop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
}

.clearfix {
	clear: both;
}

/* Option 4: Add a class of .clearfix to parent element */
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

@include media-breakpoint-down(lg) {
	.layout-outer-div {
		.layout-sidebar {
			display: none;
		}

		.layout-inner-div {
			width: 100%;

			.content {
				.sidebar {
					display: block;
				}

				.nav-bar {
					p {
						font-size: 0.8rem;
					}

					.nav-form {
						margin-left: 0.5rem;
					}

					.nav-menu-icon {
						display: block;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.bg {
		display: none;
	}
	.rightSide {
		margin-top: 2rem;
	}
}

@include media-breakpoint-down(sm) {
	.login-tab {
		padding: 0 2rem;
	}

	.layout-outer-div {
		.layout-inner-div {
			.content {
				.nav-bar {
					.nav-form {
						display: none;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.login-tab {
		padding: 0 1rem;
	}
}
